html,body{
    margin: 0;
    padding: 0;
    background: black;
}

.bar{
    height: 1.5em;
    border-radius: 20px;
    background: lightgrey;
}

.container{
    width: 80%;
    margin: 3em auto;
}

.status{
    width: 10%;
    background:red;
    animation: 6s linear showprogress infinite;
}

@keyframes showprogress{
    50%{
        width: 50%;
        background: blue;
    }
     75%{
        width: 100%;
        background:green ;
    }
    100%{
        width: 100%;
        background:green ;
    }
}